# üìò *2025 Epsom Derby: Pedigree Profiles & Lineage Performance*

Welcome to this exploratory notebook where we dive into the **bloodlines and pedigree data** of the 2025 Epsom Derby runners using a custom-built database of UK and Irish flat racing results from 1990‚Äì2025.

> üß† **Goal**: To uncover meaningful patterns in **sire-line performance**, assess **lineage strengths over the Derby trip**, and identify which horses might be *bred for greatness*.

---

## üèá What We're Exploring

- üìú **Historical performance** of sires across all distances, with a focus on races **over 1m4f** ‚Äî the classic Derby distance.  
- üìä **Pedigree statistics** of this year's entrants, including how well their **sires** and **damsires** have fared in similar conditions.  
- üîç A **data-led perspective** to complement traditional form analysis and betting angles.

---

## üíæ Our Tools

- üêç **Python + SQLite**: Fast querying of 4.7M+ cleaned race records.  
- üìä **Pandas + Seaborn**: Clean summaries and visual storytelling.  
- üß¨ **Pedigree metadata**: Including `sire`, `dam`, `damsire`, and race outcomes from 1990 to 2025.

---

## üîÆ Why Pedigree?

The Epsom Derby is unlike any other:

- It's run early in the season over an **unforgiving 1m4f track** with steep cambers.
- Most runners are **unexposed** and stepping up in trip for the first time.
- The right **genetic ingredients** can be the difference between glory and mid-pack anonymity.

---

Let‚Äôs dive in and meet the class of 2025...

---

## üèá The Preliminary Field: 2025 Epsom Derby

Although final declarations won‚Äôt close until five days before the race, the **list of expected runners** for the 2025 Epsom Derby is now widely available via trusted racing sources such as the **Racing Post**.

For major races like the Derby, it‚Äôs extremely rare for horses listed at this stage to be withdrawn without injury or unforeseen issues ‚Äî and any late **supplemented entries** are generally well flagged in advance.

That said, it‚Äôs important to understand the difference between **entries**, **declared runners**, and the **final field**:

| Term                  | Meaning                                                                 |
|-----------------------|-------------------------------------------------------------------------|
| üìù Entries            | Horses entered months in advance to keep the option of running open.    |
| üìã Declared Runners   | The shortlist of horses officially confirmed 5 days before the race.     |
| üé¨ Final Field        | Usually 12‚Äì16 actual starters; some may still be withdrawn or added.     |

> üí° Fun fact: The Derby allows for **supplementary entries**, where horses not originally entered can be added later ‚Äî for a hefty fee ‚Äî if they prove themselves in key trial races.

---

### üéØ Our Approach

For this analysis, we‚Äôre working with the **currently expected field of 42 runners** as listed on the official racecard. These include horses from top yards such as **Aidan O‚ÄôBrien**, **Charlie Appleby**, **Ralph Beckett**, and more.

We'll:
- Extract their **pedigree data** from our historical database  
- Explore the performance of their **sire lines**  
- Later refine our analysis once the **final declarations** are confirmed closer to race day

Let‚Äôs now define this field in code and start pulling their profiles...

---

---

## üõ†Ô∏è Step 1: Define the Runner List and Connect to the Database

Before we can analyse the pedigrees or performance of the 2025 Derby field, we need to define the current set of **likely runners** in a format suitable for querying.

To do that, we'll:

- Store the 42 expected runners from the Racing Post racecard in a Python list
- Convert the names to **uppercase**, since the race database stores all horse names in that format
- Establish a connection to our **SQLite database** (`raceform.db`) which contains cleaned UK & Irish flat race records from 1990 to 2025

This sets the foundation for the analysis to come.

---

In [2]:
# List of likely 2025 Epsom Derby runners (as per Racing Post pre-declaration)
# Converted to uppercase to match database formatting

derby_2025_declared = [
    "THE LION IN WINTER", "RULING COURT", "DELACROIX", "TWAIN",
    "MOUNT KILIMANJARO", "LAMBOURN", "GREEN IMPACT", "STANHOPE GARDENS",
    "HOTAZHELL", "DAMYSUS", "OPPORTUNITY", "PRIDE OF ARRAS", "PUPPET MASTER",
    "PUSH THE LIMIT", "SEA SCOUT", "SPANISH VOICE", "TENNESSEE STUD",
    "TRINITY COLLEGE", "ACAPULCO BAY", "LAZY GRIFF", "LUTHER", "PURVIEW",
    "SEACRUISER", "SHACKLETON", "TUSCAN HILLS", "WIMBLEDON HAWKEYE",
    "CALLA LAGOON", "DEVIL'S ADVOCATE", "GREEN STORM", "ISAMBARD BRUNEL",
    "NIGHTIME DANCER", "NIGHTWALKER", "PINHOLE", "ROCK OF CASHEL",
    "ROYAL PLAYWRIGHT", "TORNADO ALERT", "AL WASL STORM", "ROGUE MILLIONS",
    "THRICE", "TOO SOON", "ENEA", "ROGUE IMPACT"
]

In [3]:
import pandas as pd
import sqlite3

# Connect to the SQLite database (using the cleaned table)
db_path = "C:/Users/Rob/Documents/Racing/db/raceform.db"
conn = sqlite3.connect(db_path)

---

## üîç Step 2: Extract Race History and Pedigree Fields

To access the pedigree information of each Derby runner, we‚Äôll query our cleaned race database (`data_clean`) for any **past races** involving the 42 likely runners. Even a single run is enough to capture a horse's **sire**, **dam**, and **damsire** ‚Äî and most of the field has run at least once.

This step also gives us a rich data foundation for **future form analysis**, including:

- üèüÔ∏è Previous racecourses and distances
- üìè Official and Racing Post Ratings (OR, RPR)
- üå¶Ô∏è Track conditions and finishing positions

---

## üß≠ Dealing with Missing Horses: A Hybrid Pedigree Workflow

When we query our database, we expect to retrieve pedigree data for most runners ‚Äî but not all.

Some horses may be:
- üê£ **Unraced** ‚Äî making their debut in the Derby  
- üåç **Foreign-trained** or lightly campaigned in jurisdictions outside the database  
- üìÜ **Late additions** whose records haven't been captured yet

To ensure a **complete and accurate pedigree table**, we‚Äôll use a **hybrid approach**:

### ‚úÖ Hybrid Workflow Steps:

1. **Query the database first** ‚Äî extract pedigree info for all runners with past races  
2. **Identify missing horses** ‚Äî those not found in the database  
3. **Manually look up pedigree details** via trusted sources like Racing Post, Weatherbys, or Equineline  
4. **Append those rows** to our main pedigree dataset for full coverage

> üí° This approach gives us the best of both worlds: the **efficiency** of structured querying, and the **completeness** of manual supplementation where needed.

---

In [16]:
import difflib

# Step 2: Robust case-insensitive, suffix-tolerant horse name matching

# --- A. Get all unique horse names in DB ---
all_db_horses = pd.read_sql_query("SELECT DISTINCT horse FROM data_clean", conn)
all_db_horses["clean_name"] = all_db_horses["horse"].str.replace(r"\s*\(.*?\)", "", regex=True).str.lower()

# --- B. Clean declared runner names ---
declared_clean = [name.lower() for name in derby_2025_declared]

# --- C. Match declared names to DB horses using fuzzy logic ---
def best_match(name, choices, cutoff=0.9):
    match = difflib.get_close_matches(name, choices, n=1, cutoff=cutoff)
    return match[0] if match else None

# Create mapping: declared -> matched name from DB (if any)
name_map = {}
for name in declared_clean:
    match = best_match(name, all_db_horses["clean_name"].tolist(), cutoff=0.9)
    if match:
        db_name = all_db_horses.loc[all_db_horses["clean_name"] == match, "horse"].values[0]
        name_map[name] = db_name

# --- D. Pull matched race records ---
matched_names = list(name_map.values())
race_history_df = pd.read_sql_query(
    f"""
    SELECT horse, sire, dam, damsire, trainer, date, course, race_name, dist, pos, rpr, ts, going
    FROM data_clean
    WHERE horse IN ({','.join(['?'] * len(matched_names))})
    ORDER BY horse, date DESC
    """,
    conn,
    params=matched_names
)

# --- E. Find which runners were NOT matched ---
found_horses = set(name_map.keys())
not_found_horses = [name for name in declared_clean if name not in found_horses]

# Optional: recover original casing for display
name_lookup = {n.lower(): n for n in derby_2025_declared}
not_found_horses_display = [name_lookup[name] for name in not_found_horses]

# Summary
print(f"‚úÖ Horses found in DB: {len(found_horses)}")
print(f"‚ö†Ô∏è Horses not found in DB: {len(not_found_horses_display)}")
print("üîç Missing horses:")
for horse in not_found_horses_display:
    print("-", horse)

‚úÖ Horses found in DB: 42
‚ö†Ô∏è Horses not found in DB: 0
üîç Missing horses:

In [9]:
# Step 3: Placeholder for manually added pedigree records
manual_pedigree_df = pd.DataFrame(columns=["horse", "sire", "dam", "damsire"])

---

## üß¨ Step 3: Build One Pedigree Record per Runner

Now that we‚Äôve successfully retrieved complete race history for all 42 declared runners, we can extract a **single pedigree profile** for each.

Pedigree fields (`sire`, `dam`, `damsire`) do not change over a horse‚Äôs career, so we simply take the most recent available record for each horse from the race history.

This creates a clean and consistent `pedigree_df` that we will use in all downstream analysis.

---

In [17]:
# Step 3: Build one pedigree row per horse from latest race

latest_pedigree = race_history_df.sort_values("date", ascending=False).drop_duplicates(subset="horse")
pedigree_df = latest_pedigree[["horse", "sire", "dam", "damsire"]].sort_values("horse").reset_index(drop=True)

# Show preview
pedigree_df.head()

                 horse                  sire             dam      damsire
0    Acapulco Bay (GB)  Pursuit Of Love (GB)    Lapu-Lapu GB  Prince Sabo
1  Al Wasl Storm (IRE)       Affinisea (IRE)   Dearborn (FR)    Martaline
2    Calla Lagoon (GB)          New Bay (GB)  Orchid Lily GB      Dansili
3     DEVIL'S ADVOCATE            MISTER MAT           Ecyba       CYBORG
4         Damysus (GB)          Frankel (GB)  Legerete (USA)         Rahy

---

## üìä Step 4: Historical Performance of Sires

Now that we‚Äôve extracted pedigree info for each runner, we‚Äôll analyse how their **sires have performed historically** across the entire race database.

For each sire, we calculate:

- üßÆ Total number of runs by their progeny
- üèÅ Average finishing position (excluding fallers/PU/etc.)
- ü•á Win count and ü•à top-3 place count
- üìè Number of runs over **12 furlongs or more** ‚Äî key for assessing Derby stamina

This helps us evaluate which runners may have the strongest **genetic profile for Classic distances**.

---

In [18]:
# Step 4: Analyse historical performance of these sires

# Get the list of sires from pedigree_df
sire_list = pedigree_df["sire"].dropna().unique().tolist()

# Query database to get aggregate stats for each sire's progeny
# reminder pos > 40 = DNF
query = f"""
SELECT sire,
       COUNT(*) AS total_runs,
       AVG(CASE WHEN pos < 40 THEN pos ELSE NULL END) AS avg_position,
       SUM(CASE WHEN pos = 1 THEN 1 ELSE 0 END) AS total_wins,
       SUM(CASE WHEN pos <= 3 THEN 1 ELSE 0 END) AS total_places,
       SUM(CASE WHEN dist >= 12 THEN 1 ELSE 0 END) AS runs_12f_plus
FROM data_clean
WHERE sire IN ({','.join(['?'] * len(sire_list))})
GROUP BY sire
"""

sire_stats_df = pd.read_sql_query(query, conn, params=sire_list)

# Merge back into the pedigree_df so we can see each runner with their sire stats
pedigree_summary = pedigree_df.merge(sire_stats_df, on="sire", how="left")

# Display results
pedigree_summary.sort_values("sire")

,horse,sire,dam,damsire,total_runs,avg_position,total_wins,total_places,runs_12f_plus
1,Al Wasl Storm (IRE),Affinisea (IRE),Dearborn (FR),Martaline,486,5.051440,75,210,486
23,Rock Of Cashel (GER),Areion (GER),Rocket Light (GER),Lando,1352,6.143491,135,384,1352
11,Lambourn (IRE),Australia (GB),Gossamer Wings (USA),Scat Daddy,4254,5.637047,501,1383,4254
20,Puppet Master (IRE),Camelot (GB),Realtra (IRE),Dark Angel,6174,5.660674,725,2117,6174
30,Shackleton (IRE),Camelot (GB),Damaniyat Girl (USA),Elusive Quality,6174,5.660674,725,2117,6174
36,Too Soon (AUS),Charge Forward (AUS),Canny Lassie (AUS),Canny Lad,257,7.194553,15,40,257
8,Green Storm (IRE),Circus Maximus (IRE),Banimpire (IRE),Holy Roman Emperor,48,6.312500,4,16,48
38,Trinity College (IRE),Dubawi (IRE),Hermosa (IRE),Galileo,10319,5.111929,1824,4289,10319
5,Delacroix (IRE),Dubawi (IRE),Tepin (USA),Bernstein,10319,5.111929,1824,4289,10319
25,Rogue Millions (GB),Dubawi (IRE),Nyaleti (IRE),Arch,10319,5.111929,1824,4289,10319
16,Nightwalker (GB),Frankel (GB),Sleep Walk GB,Oasis Dream,6698,5.124664,1132,2749,6698
13,Luther (GB),Frankel (GB),Give And Take GB,Cityscape,6698,5.124664,1132,2749,6698
18,Pinhole (GB),Frankel (GB),Nimble Thimble (USA),Mizzen Mast,6698,5.124664,1132,2749,6698
17,Opportunity (GB),Frankel (GB),Izzi Top GB,Pivotal,6698,5.124664,1132,2749,6698
4,Damysus (GB),Frankel (GB),Legerete (USA),Rahy,6698,5.124664,1132,2749,6698
32,Stanhope Gardens (IRE),Ghaiyyath (IRE),Pure Art GB,Dutch Art,151,4.675497,21,56,151
15,Nightime Dancer (IRE),Ghaiyyath (IRE),Stella Ditalia GB,Sea The Stars,151,4.675497,21,56,151
10,Isambard Brunel (USA),Justify (USA),Magical Dream (IRE),Galileo,608,5.445724,81,234,608
27,Ruling Court (USA),Justify (USA),Inchargeofme GB,High Chaparral,608,5.445724,81,234,608
41,Wimbledon Hawkeye (GB),Kameko (USA),Eva Maria GB,Sea The Stars,247,5.534413,26,83,247
21,Purview (GB),Kingman (GB),Variable GB,Sea The Stars,5879,5.345467,880,2343,5879
22,Push The Limit (FR),Le Havre (IRE),Sister Dams (IRE),Mastercraftsman,4747,5.851696,594,1650,4747
28,Sea Scout (GB),Lomitas (GB),Deeply (IRE),Darshaan,138,5.289855,18,52,138
26,Royal Playwright (GB),Lope De Vega (IRE),Arabian Queen (IRE),Dubawi,10928,5.454978,1457,4011,10928
31,Spanish Voice (GB),Lope De Vega (IRE),Criteria (IRE),Galileo,10928,5.454978,1457,4011,10928
3,DEVIL'S ADVOCATE,MISTER MAT,Ecyba,CYBORG,558,7.038961,52,113,558
2,Calla Lagoon (GB),New Bay (GB),Orchid Lily GB,Dansili,2346,5.361893,350,891,2346
19,Pride Of Arras (IRE),New Bay (GB),Parnells Dream GB,Oasis Dream,2346,5.361893,350,891,2346
39,Tuscan Hills (FR),Night Of Thunder (IRE),Taqleed GB,Sea The Stars,3673,5.124694,554,1462,3673
6,Enea (FR),Pinatubo (IRE),Gratefully (IRE),Dubawi,208,4.754808,32,86,208
12,Lazy Griff (GER),Protectionist (GER),Linarda (DEN),Rock Of Gibraltar,246,5.723577,26,89,246
0,Acapulco Bay (GB),Pursuit Of Love (GB),Lapu-Lapu GB,Prince Sabo,61,4.426230,8,27,61
34,The Lion In Winter (IRE),Sea The Stars (IRE),What A Home (IRE),Lope De Vega,7980,5.081454,1230,3280,7980
29,Seacruiser (IRE),Sea The Stars (IRE),Crimean Queen GB,Iffraaj,7980,5.081454,1230,3280,7980
14,Mount Kilimanjaro (FR),Siyouni (FR),Decorating (USA),Galileo,7347,5.596434,953,2624,7347
24,Rogue Impact (GB),Study Of Man (IRE),Just So (IRE),Galileo,398,4.949749,64,161,398
9,Hotazhell (GB),Too Darn Hot (GB),Azenzar GB,Danehill Dancer,996,4.843373,166,402,996
37,Tornado Alert (IRE),Too Darn Hot (GB),Bint Almatar (USA),Kingmambo,996,4.843373,166,402,996
40,Twain (IRE),Wootton Bassett (GB),Wading (IRE),Montjeu,3516,5.696246,433,1233,3516
33,Tennessee Stud (IRE),Wootton Bassett (GB),In My Dreams (IRE),Sadlers Wells,3516,5.696246,433,1233,3516
35,Thrice (IRE),Wootton Bassett (GB),Mississippilanding (IRE),Galileo,3516,5.696246,433,1233,3516
7,Green Impact (IRE),Wootton Bassett (GB),Emerald Green GB,Galileo,3516,5.696246,433,1233,3516

---

## üìò Step 5: Pedigree Performance Summary ‚Äî Stamina Bias & Sire Quality

Now that we've built a complete pedigree dataset, it's time to focus on the key question:

> **Which Derby runners are *bred* to stay the 1m4f trip ‚Äî and which might not be?**

The Epsom Derby is an unforgiving test of stamina, balance, and class. While form analysis is useful, many classic contenders are lightly raced or unexposed ‚Äî so pedigree can offer crucial early clues.

---

### üéØ Why This Step Matters

Sires vary enormously in the distance preferences and success rates of their progeny. By calculating **historical performance metrics** across their offspring, we can uncover:

- ‚õΩ **Stamina Bias** ‚Äî does this sire typically produce stayers?
- üèÅ **Win & Place Rates** ‚Äî how often do they finish well?
- üìâ **Average Finishing Position** ‚Äî a sanity check on overall performance

---

### üìä What We‚Äôre Measuring

For each runner‚Äôs **sire**, we compute:

| Metric        | Description                                                  |
|---------------|--------------------------------------------------------------|
| `win_pct`     | Win percentage: total_wins / total_runs                      |
| `place_pct`   | Place percentage (Top 3): total_places / total_runs          |
| `stamina_bias`| Long-distance bias: 12f+ runs / total_runs                   |
| `avg_position`| Mean finishing position across all distances                 |

This will allow us to sort, visualise, and tag each runner based on **genetic suitability for the Derby test**.

---

In [19]:
# Step 5: Calculate derived performance metrics for each sire
sire_stats_df["win_pct"] = sire_stats_df["total_wins"] / sire_stats_df["total_runs"]
sire_stats_df["place_pct"] = sire_stats_df["total_places"] / sire_stats_df["total_runs"]
sire_stats_df["stamina_bias"] = sire_stats_df["runs_12f_plus"] / sire_stats_df["total_runs"]

# Optional: Round for readability
sire_stats_df[["win_pct", "place_pct", "stamina_bias"]] = sire_stats_df[["win_pct", "place_pct", "stamina_bias"]].round(3)

# Merge back into pedigree_df using 'sire' as the key
pedigree_summary_df = pedigree_df.merge(sire_stats_df, on="sire", how="left")

# Preview
pedigree_summary_df.sort_values("stamina_bias", ascending=False).head()

,horse,sire,dam,damsire,total_runs,avg_position,total_wins,total_places,runs_12f_plus,win_pct,place_pct,stamina_bias
0,Acapulco Bay (GB),Pursuit Of Love (GB),Lapu-Lapu GB,Prince Sabo,61,4.426230,8,27,61,0.131,0.443,1.0
31,Spanish Voice (GB),Lope De Vega (IRE),Criteria (IRE),Galileo,10928,5.454978,1457,4011,10928,0.133,0.367,1.0
23,Rock Of Cashel (GER),Areion (GER),Rocket Light (GER),Lando,1352,6.143491,135,384,1352,0.100,0.284,1.0
24,Rogue Impact (GB),Study Of Man (IRE),Just So (IRE),Galileo,398,4.949749,64,161,398,0.161,0.405,1.0
25,Rogue Millions (GB),Dubawi (IRE),Nyaleti (IRE),Arch,10319,5.111929,1824,4289,10319,0.177,0.416,1.0

---

## üìò Step 6: Ranked Pedigree Table ‚Äî Which Runners Are Bred for the Derby?

With a complete pedigree dataset and performance metrics for all sires, we now distill that information into a clear, ranked table.

> üß¨ **Our goal:** Identify runners whose sire lines have produced top-class stayers ‚Äî and flag those that may struggle over the Derby trip.

---

### üîç What We‚Äôre Measuring

For each runner, we rank by:
- `win_pct` ‚Äî How often the sire's offspring win
- `stamina_bias` ‚Äî What % of their runs are over 12f+
- `avg_position` ‚Äî Their average finishing position

We combine these into a simple **pedigree verdict**:
- ‚úÖ **Strong** ‚Äî Classic-producing sires with staying power
- ‚ö†Ô∏è **Mixed** ‚Äî Useful lines with a few question marks
- ‚ùå **Risky** ‚Äî Low win rates, poor average placings, or stamina doubts

---

### üèá Why It Matters

This lets us:
- Quickly highlight likely stayers and hidden pedigree value
- Begin narrowing the field based on deep bloodline insight
- Create a foundation for form and trainer analysis later

Now let‚Äôs display the table and highlight the runners bred for greatness.

---

In [25]:
# Step 6: Ranked Pedigree Table ‚Äî Sire Performance Scoring

# Select relevant columns
pedigree_ranking_df = pedigree_summary_df[[
    "horse", "sire", "win_pct", "stamina_bias", "avg_position"
]].copy()

# Round for display
pedigree_ranking_df["win_pct"] = (pedigree_ranking_df["win_pct"] * 100).round(1)
pedigree_ranking_df["stamina_bias"] = pedigree_ranking_df["stamina_bias"].round(2)
pedigree_ranking_df["avg_position"] = pedigree_ranking_df["avg_position"].round(2)

# Add pedigree verdict
def pedigree_verdict(row):
    if row["win_pct"] >= 14 and row["stamina_bias"] >= 0.9 and row["avg_position"] <= 5.5:
        return "‚úÖ Strong"
    elif row["win_pct"] <= 10 or row["avg_position"] > 6.0:
        return "‚ùå Risky"
    else:
        return "‚ö†Ô∏è Mixed"

pedigree_ranking_df["pedigree_verdict"] = pedigree_ranking_df.apply(pedigree_verdict, axis=1)

# Sort: strong ‚Üí mixed ‚Üí risky, then by win rate
pedigree_ranking_df = pedigree_ranking_df.sort_values(
    by=["pedigree_verdict", "win_pct", "stamina_bias"],
    ascending=[True, False, False]
)

# Display the final ranked pedigree table
pedigree_ranking_df.style.bar(subset=["win_pct", "stamina_bias"], color="#dff0d8").set_caption("Derby Pedigree Rankings")